
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}

/* 確保 iOS 底部安全區域 */
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}
